/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: "Whitney", 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #23272a;
}

.container {
    margin: 0 auto;
    width: 60%;

    /* TEST */
    height: 100%;
}

h1 {
    padding: 25px 0;
    font-size: 30px;
}

h2 {
    padding: 20px 0;
    font-size: 30px;
    font-weight: 700;
}

p {
    font-size: 11px;
    line-height: 20px;
}

nav > ul {
    font-size: 14px;
    display: flex;
    justify-content: center;
}

ul {
    list-style-type: none;
}

li > a {
    font-size: 10px;
}

a {
    font-weight: inherit;
    text-decoration: none;
    color: inherit;
}

button {
    font-size: 10px;
    padding: 1em 1.2em;
    border-style: none;
    border-radius: 2em;
    background-color: white;
}

img {
    width: 100%;
    display: block;
}

/* HEADER */
header {
    color: white;
}

/* header top */
.header-top{
    padding: 10px 0;
    background-color: #255ee9;
}

.flex-container {
    display: flex;
    align-items: center;

    /* TEST */
    height: 100%;
}

.logo {
    padding: 0;
    width: 20%;
}

.logo img{
    width: 60%;
}

/* NAV */
.header-nav-bar {
    width: 60%;
}

.header-nav-bar li {
    padding: 0 15px;
}

.user-side {
    width: 20%;
    text-align: right;
}

/* header bottom */
.header-bottom {
    padding: 90px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../img/jumbo.png");
    background-size: cover;
    background-position: center;
}

.jumbotron {
    width: 50%;
    text-align: center;
}

.jumbotron > p {
    padding-bottom: 10px;
}

.jumbotron > button {
    margin: 0 5px;
    font-size: 12px;

}

.jumbotron > button:last-child {
    color: white;
    background-color: #23272a;
}

/* MAIN */
main section:nth-child(even) {
    background-color: #f6f6f6;
}

.flex {
    padding: 60px 0;
    display: flex;
    align-items: center;
}

/* main top */
.item {
    width: 60%;
}

.item > img {
    width: 100%;
}

.sub-item {
    padding: 0 20px;
    width: 40%;
}

/* main bottom */
.bottom-text {
    width: 100%;
    text-align: center;
}

.bottom-text > img {
    padding-bottom: 40px;
    width: 100%;
}

/* stars decoration */
.stars {
    margin: 0 auto;
    padding: 16px 20px 0;
    width: 60%;
    background: url("../img/stars.svg");
    background-size: 100%;
    background-position: top;
}

.stars > div {
    margin: 0 auto;
    width: 90%;
    font-size: 20px;
    font-weight: 700;
    background-color: #f6f6f6;
}

.bottom-text > div:last-child {
    padding: 30px 0 15px;
}

.bottom-text button {
    color: white;
    background-color: #7289da;
}

/* FOOTER */
footer {
    color: white;
    background-color: #23272a;
}

/* footer top */
.footer-nav {
    padding: 35px 0 10px;
    border-bottom: 1px solid #7289da;
    display: flex;
}

.footer-top img {
    padding-right: 2px;
    width: 18px;
    display: inline-block;
}

.footer-nav-col {
    width: calc(75% / 4);
}

.footer-nav-col li {
    padding-bottom: 7px;
}

.footer-nav-col li:first-child {
    color: #7289da;
}

.footer-nav > div:first-child {
    width: 25%;
}

.chevron {
    padding-left: 2px;
}

.socials {
    display: flex;
    color: white;
}

.socials i {
    padding-right: 15px;
    font-size: 12px;
    color: white;
}

/* footer bottom */
.footer-bottom {

    /* TEST */
    height: 70px;
}

.flex-container.foot {
    padding: 0;
    justify-content: space-between;

    /* TEST */
    height: 70%;
    background-color: #7fffd4;
}

.footer-logo,
.footer-button {

    /* TEST */
    background-color: #ffb6c1;
}